html {
    font-size: 10px;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(6deg, rgba(2,0,36,1) 0%, rgba(0,67,91,1) 37%, rgba(0,255,250,1) 100%);
    background: -webkit-linear-gradient(6deg, rgba(2,0,36,1) 0%, rgba(0,67,91,1) 37%, rgba(0,255,250,1) 100%);
    background: linear-gradient(6deg, rgba(2,0,36,1) 0%, rgba(0,67,91,1) 37%, rgba(0,255,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00fffa",GradientType=1);
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: 25%;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: hsla(212, 20%, 39%, 1);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    /* border-color: #c33800; */
    /* border: 2rem solid #c33800; */
    background: hsla(100, 75%, 79%, 1);
    border: 1rem solid #000;
    /* width: 8rem; */
    box-shadow: 0 0 10rem #ffc600;
    border-radius: 50%;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }